/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */
@layer base {
  body {
    @apply bg-[#111111] text-white font-sans;
  }
}
@layer components {
  .typing-indicator {
    display: flex;
    align-items: center;
  }
  .typing-indicator span {
    height: 8px;
    width: 8px;
    margin: 0 1px;
    background-color: #8dff2d;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: typing 1s infinite;
  }
  .typing-indicator span:nth-child(1) {
    animation-delay: 0s;
  }
  .typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
  }
  @keyframes typing {
    0% {
      opacity: 0.4;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0.4;
      transform: scale(1);
    }
  }
}